@media print {
  @page {size: landscape}

  .App-header {
    display: none;
  }
  #fileUploader {
    display: none;
  }
}
.App-header, .App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-footer {
  padding: 10px 20px;
  position: relative;
  bottom:0;
  left:0;
  right:0;
}

p {
  margin: 0;
}

.App-footer a {
  color: white;
}

.App-body {
  padding: 145px 20px 60px;
  margin:-125px 0 -38px;
  position:relative;
  min-height:100vh;
  box-sizing:border-box;
}

.App-intro {
  font-size: large;
}

#fileUploader label, #fileUploader input{
  display: block;
  width: 100%;
}

.hexagonPreview {
  height: 100px;
  width:  115px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #999;
  margin-top: 5px;
  margin-right: 5px;
}

.hexagonPreview .cross {
  cursor: pointer;
  float: right;
  margin-right: 4px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}