.App-header, .App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-footer {
  padding: 10px 20px;
}

p {
  margin: 0;
}

.App-footer a {
  color: white;
}

.App-body {
  padding: 20px;
}

.App-intro {
  font-size: large;
}

#fileUploader label, #fileUploader input{
  display: block;
  width: 100%;
}