.App-header, .App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-footer {
  padding: 10px 20px;
  position: relative;
  bottom:0;
  left:0;
  right:0;
}

p {
  margin: 0;
}

.App-footer a {
  color: white;
}

.App-body {
  padding: 145px 20px 60px;
  margin:-125px 0 -38px;
  position:relative;
  min-height:100vh;
  box-sizing:border-box;
}

.App-intro {
  font-size: large;
}

#fileUploader label, #fileUploader input{
  display: block;
  width: 100%;
}